__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/

.ipynb_checkpoints/
.idea/
.vscode/
.DS_Store

*.log
*.tmp

# Model weights and large artifacts
*.pth
*.pt
*.ckpt

# Generated datasets and outputs
Dataset/
dataset/
verified/
verified h/

# Media and reports that are large or generated
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.zip
*.tar
*.gz




# --- LÍNEAS NUEVAS DE AGROVISIÓN (Añadir al final de su archivo) ---

# Ignorar las fotos crudas que meta el operador
data/imagenes_crudas/*
!data/imagenes_crudas/.gitkeep

#Ignorar imagenes anotadas
data/imagenes_anotadas/*
!data/imagenes_anotadas/.gitkeep

# Ignorar los reportes visuales pesados que genere el validador
data/imagenes_verificadas/*
!data/imagenes_verificadas/.gitkeep

# ¡CRUCIAL! Ignorar el archivo de 2.4 GB de SAM para que GitHub no bloquee la cuenta
models/*
!models/.gitkeep
